## Imports

In [1]:
import pandas as pd

In [2]:
df_awards_players = pd.read_csv('data/awards_players_processed.csv')
df_coaches = pd.read_csv('data/coaches_processed.csv')
df_players_teams = pd.read_csv('data/players_teams_processed.csv')
df_players = pd.read_csv('data/players_processed.csv')
df_series_post = pd.read_csv('data/series_post_processed.csv')
df_teams = pd.read_csv('data/teams_processed.csv')
df_teams_post = pd.read_csv('data/teams_post_processed.csv')

## Merge datasets

Agregate data from players team, players info and awards.

In [3]:
players_teams_info_df = pd.merge(df_players_teams, df_players, left_on='playerID', right_on='bioID', how='left')
players_teams_info_df = pd.merge(players_teams_info_df, df_awards_players, on=['playerID', 'year'], how='left').fillna(0)
players_teams_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   playerID              1290 non-null   object
 1   year                  1290 non-null   int64
 2   tmID                  1290 non-null   object
 3   GP                    1290 non-null   float64
 4   GS                    1290 non-null   float64
 5   minutes               1290 non-null   float64
 6   oRebounds             1290 non-null   float64
 7   dRebounds             1290 non-null   float64
 8   dq                    1290 non-null   float64
 9   PostGP                1290 non-null   float64
 10  PostGS                1290 non-null   float64
 11  PostMinutes           1290 non-null   float64
 12  PostoRebounds         1290 non-null   float64
 13  PostdRebounds         1290 non-null   float64
 14  PostDQ                1290 non-null   float64
 15  Postperformance       1290 non-null   float64
 16  performance           1290 non-null   float64
 17  points_precision      1290 non-null   float64
 18  Postpoints_precision  1290 non-null   float64
 19  bioID                 1290 non-null   object
 20  pos                   1290 non-null   object
 21  height                1290 non-null   float64
 22  weight                1290 non-null   float64
 23  college               1290 non-null   object
 24  collegeOther          1290 non-null   object
 25  birthDate             1290 non-null   object
 26  deathDate             1290 non-null   object
 27  award_count           1290 non-null   float64
dtypes: float64(19), int64(1), object(8)
memory usage: 282.3+ KB

For each team and year agregate the statistics of the players in the team and join it to the Teams dataset.

In [4]:

agg_players_df = players_teams_info_df.groupby(["year", "tmID"]).agg({
    "GP": "mean",
    "GS": "mean",
    "minutes": "mean",
    "oRebounds": "mean",
    "dRebounds": "mean",
    "dq": "mean",
    "PostGP": "mean",
    "PostGS": "mean",
    "PostMinutes": "mean",
    "PostoRebounds": "mean",
    "PostdRebounds": "mean",
    "performance": "mean",
    "Postperformance": "mean",
    'points_precision': 'mean',
    'Postpoints_precision': 'mean',
    "PostDQ": "mean",
    "height": "mean",
    "weight": "mean",
    "award_count": "mean",

    # Add more columns you want to aggregate here
}).reset_index()



df_teams = pd.merge(df_teams, agg_players_df, on=['year', 'tmID'], how='left').fillna(0)

Merge team information with coach information

In [5]:
df_coaches_with_awards = pd.merge(df_coaches, df_awards_players, left_on=['coachID', 'year'], right_on=['playerID', 'year'], how='left').fillna(0)
df_coaches_with_awards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   coachID      162 non-null    object
 1   year         162 non-null    int64
 2   tmID         162 non-null    object
 3   stint        162 non-null    int64
 4   won          162 non-null    float64
 5   lost         162 non-null    float64
 6   post_wins    162 non-null    float64
 7   post_losses  162 non-null    float64
 8   playerID     162 non-null    object
 9   award_count  162 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 12.8+ KB

In [6]:
agg_coaches_df = df_coaches_with_awards.groupby(["year", "tmID"]).agg({
    "won": "mean",
    "lost": "mean",
    "post_wins": "mean",
    "post_losses": "mean",
    "award_count": "mean",
}).reset_index()

df_teams = pd.merge(df_teams, agg_coaches_df, on=['year', 'tmID'], how='left')
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     142 non-null    int64
 1   tmID                     142 non-null    object
 2   rank                     142 non-null    float64
 3   playoff                  142 non-null    int64
 4   homeW                    142 non-null    float64
 5   homeL                    142 non-null    float64
 6   awayW                    142 non-null    float64
 7   awayL                    142 non-null    float64
 8   confW                    142 non-null    float64
 9   confL                    142 non-null    float64
 10  min                      142 non-null    float64
 11  attend                   142 non-null    float64
 12  num_playoff_appearances  142 non-null    float64
 13  total_first_round_won    142 non-null    float64
 14  total_first_round_lost   142 non-null    float64
 15  total_semis_won          142 non-null    float64
 16  total_semis_lost         142 non-null    float64
 17  total_finals_won         142 non-null    float64
 18  total_finals_lost        142 non-null    float64
 19  mean_won                 142 non-null    float64
 20  mean_lost                142 non-null    float64
 21  confID_EA                142 non-null    float64
 22  confID_WE                142 non-null    float64
 23  GP                       142 non-null    float64
 24  GS                       142 non-null    float64
 25  minutes                  142 non-null    float64
 26  oRebounds                142 non-null    float64
 27  dRebounds                142 non-null    float64
 28  dq                       142 non-null    float64
 29  PostGP                   142 non-null    float64
 30  PostGS                   142 non-null    float64
 31  PostMinutes              142 non-null    float64
 32  PostoRebounds            142 non-null    float64
 33  PostdRebounds            142 non-null    float64
 34  performance              142 non-null    float64
 35  Postperformance          142 non-null    float64
 36  points_precision         142 non-null    float64
 37  Postpoints_precision     142 non-null    float64
 38  PostDQ                   142 non-null    float64
 39  height                   142 non-null    float64
 40  weight                   142 non-null    float64
 41  award_count_x            142 non-null    float64
 42  won                      142 non-null    float64
 43  lost                     142 non-null    float64
 44  post_wins                142 non-null    float64
 45  post_losses              142 non-null    float64
 46  award_count_y            142 non-null    float64
dtypes: float64(44), int64(2), object(1)
memory usage: 52.3+ KB

In [7]:
df_teams.to_csv('data_merged.csv', index=False)